body {
    font-family: Arial, sans-serif;
    text-align: center;
}

label {
    margin-bottom: 10px;
    display: block;
}

input[type="text"],
select {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}


button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #123;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.choices button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: #123;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.choices button:hover {
    background-color: #45a049;
}